<div class="container">
    <div  class="row" >
        <div class="col-md-12 topHeader" > Receiving</div>
        <div class="row" >
            <div *ngIf="side"></div>    
            <div class="col-md-3 leftPanel">
                <div class="row">
                    <div class="col-md-12 panelItem">
                    <p>
                        potential Revenue <span>$47 K</span>
                    </p>
                    </div>
                    <div class="col-md-12 panelItem" >
                        <p>
                          Total Lines <span>230</span>
                        </p>
                    
                    </div>
                    <div class="col-md-12 panelItem">
                        <p>
                          Total Units <span>1027</span>
                         </p>
                    
                    </div>
                </div>  
            </div>
            <div class="col-md-9">
                <div class="col-md-10 chart">

                  <!--<app-stacked-vertical *ngIf="!side"></app-stacked-vertical>-->
                     <!--<div *ngIf="side">-->
                  <div class="row">
                    <div class="col-md-6">
                      <!--<app-pie-chart></app-pie-chart>-->
                    </div>
                    <div class="col-md-6" style="display: flex;
    justify-content: center;
    align-items: center;">
                      <app-stacked-horizontal></app-stacked-horizontal>
                    </div>
                  </div>
                    <!--</div>-->
                </div>
                <div class="col-md-2 strip"></div>
            </div>
        </div>
    </div>
    <div class="row" >
        <app-table-comp></app-table-comp>
    </div>
</div>
<!-- <h1>Pie Chart with dynamic data</h1>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label for="dataLabel">Label : </label>
            <input class="form-control" type="text" name="dataLabel" [(ngModel)]="newLabel" />    
        </div>
        <div class="form-group">
            <label for="dataValue">Value : </label>
            <input class="form-control" type="number" name="dataValue" [(ngModel)]="newValue" />
        </div>
        <button (click)="addData()" class="btn btn-primary">Add data</button>
    </div>
</div>
<div class="row">
    <div class="col-md-5" style="width:400px; height:400px;">
        <app-pie-chart></app-pie-chart>
    </div>
    <div class="col-md-7">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Label</td>
                    <td>Value</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of data">
                    <td [innerHTML]="d.label"></td>
                    <td [innerHTML]="d.value"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->
<!-- <div class="row">
    <div class="col-md-5" style="width:400px; height:400px;">
        <app-stacked-horizontal></app-stacked-horizontal>
    </div>
</div> -->
<!-- 
<div class="row">
    <div class="col-md-5" style="width:400px; height:400px;">
        <app-stacked-vertical></app-stacked-vertical>
    </div>
</div> -->
