.topHeader{
    text-decoration:underline;
    font-size:20px;
    color:blue;
}
.leftPanel{
    padding: 5px; 
    font-size:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    background: gray;
    color: white;
}
.panelItem{
    /*height: 20px;*/
    padding: 5px 8px;
    font-size: 20px;
    margin: 30px 5px;
}
.panelItem p{
    text-align: center;
}
.panelItem p > span{
    font-size: 30px;
    color:dodgerblue;
}
.strip{
    height: 300px;
    width: 30px;
    position: absolute;
    margin-top: 50px;
    text-align: center;
    background: red;
    text-decoration:underline;
    cursor:pointer;    

}
.rotated {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}
.caret{
    width:22px;
        margin: 73px 4px 7px -6px;
    
}