<div class="container">
    <div  class="row" >
        <div class="col-md-12 topHeader" >   {{side ? 'Receiving' : 'Ready To Ship'}}</div>
        <div class="row" >
            <div class="strip rotated" *ngIf="side"  style="position: absolute;left: 0;" (click)="switchSides()">
            {{switchText}}
             <img class="caret" src="../../assets/upFacingCaret.png" style="rotate: -90deg;">
            
            </div> 
            <div class="col-md-3 leftPanel">
                <div class="row">
                    <div class="col-md-12 panelItem">
                    <p>
                        potential Revenue <span>$47 K</span>
                    </p>
                    </div>
                    <div class="col-md-12 panelItem" >
                        <p>
                          Total Lines <span>230</span>
                        </p>
                    
                    </div>
                    <div class="col-md-12 panelItem">
                        <p>
                          Total Units <span>1027</span>
                         </p>
                    
                    </div>
                </div>  
            </div>
            <div class="col-md-9">
                <div class="col-md-10 chart">

                  <app-stacked-vertical *ngIf="!(side)"></app-stacked-vertical>
                     <div *ngIf="side">
                        <div class="row">
                            <div class="col-md-6">
                            <app-pie-chart></app-pie-chart>
                            </div>
                            <div class="col-md-6" style="display: flex;justify-content: center;align-items: center;">
                            <app-stacked-horizontal></app-stacked-horizontal>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="strip rotated" *ngIf="!side" style="position: absolute;right: 0;" (click)="switchSides()">
                <!-- Receiving -->
            {{switchText}}
                
             <img class="caret" src="../../assets/upFacingCaret.png" style="rotate: 90deg;">
                
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <app-table-comp></app-table-comp>
    </div>
</div>